* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  
  /* --color-primary: #db2a6b; */
  --color-primary: #ab3bff;
  --color-primary-bg: #000000f8;
  --color-bg: #2b2d38;
  --color-white: #f2f2fe;
  --color-primary-variant: #c3b15c;
  --color-red: #da0f3f;
  --color-red-light: hsl(346, 87%, 46%, 15%);
  --color-green: #00c476;
  --color-green-light: hsl(156, 100%, 38%, 15%);
  --color-gray-900: #1e1e66;
  --color-gray-700: #2d2b7c;
  --color-gray-300: rgba(242, 242, 254, 0.3);
  --color-gray-200: rgba(242, 242, 254, 0.7);

  --transition: all 300ms ease;
}

/* ==========  GENERAL   ========================================================================================*/

body {
  background: var(--color-bg);
  color: var(--color-white);
}

#wrapper {
  width: 100%;
  margin: 0 auto;
  font-family: "Montserrat", sans-serif;
  line-height: 1.6;
}

#mainpage {
  min-height: 100vh;
}

h1{
  margin: 6rem 0 2rem;
  text-align: center;
  font-size: 3rem;
}

/* ==========  HOME PAGE   ========================================================================================*/

.top_container h1 {
  margin: 6rem 0 2rem 11rem;
  text-align: center;
  font-size: 3rem;
  width: 80%;
}

.top_container h1 > strong {
  color: var(--color-primary);
}

.top_container h1 + p {
  margin: 3rem 0 0 13rem;
  text-align: center;
  width: 70%;
}

.top_container {
  display: flex;
  height: 60vh;
  width: 90%;
}

.left_container {
  width: 60%;
  margin-left: 9rem;
}

.img_container {
  position: relative;
  height: 80vh;
  width: 30%;
}

.img_container figure {
  width: 82%;
  position: absolute;
  right: 29%;
  top: 10%;
}

.img_container figure img{
  border-radius: 15px;;
}

img {
  width: 100%;
}

/* ==========  NAV LINKS   ========================================================================================*/

nav {
  padding: 0.5rem 1.5rem 0.5rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--color-primary-bg);
}

nav a {
  /* padding: 0.3rem; */
  margin: 0.5rem;
}

#nav-right {

  display:flex;
  position:relative;
}

#nav-right ul{
  position: absolute;
  top:127%;
  right:0;
  display: flex;
  flex-direction: column;
  box-shadow: 0 1rem 3rem rgba(0,0,0,0.4);
  visibility: hidden;
  opacity: 0;
  transition: var(--transition);
  list-style: none;
  background: var(--color-primary-bg);
}

#nav-right i {
  margin-left:0.8rem;
}
#nav-right ul li a{
  display: block;
  width:90%;
}

#nav-right:hover >ul{
  visibility: visible;
  opacity: 1;
}

#nav-right ul li:last-child a{
  transition: var(--transition);
  
}
#nav-right ul li:last-child a:hover{
  color:var(--color-primary);
}
#nav-right ul li:last-child a:hover::before {
  /* Prevent the underline effect on hover by keeping the scaleX at 0 */
  transform: scaleX(0);
}

a {
  position: relative;
  color: var(--color-white);
  text-decoration: none;
  padding: 0.3rem;
}

a::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--color-primary);
  transform: scaleX(0);
  transition: var(--transition);
}

/* Underline with animation */
a:hover::before {
  transform: scaleX(0.9);
}

.avatar{
    width: 2.6rem;
    height: 2.6rem;
    border-radius: 50%;
    overflow: hidden;
    border: 0.2rem solid var(--color-primary);
    margin-top: 0.3rem;
}

/* ==========  SEARCH   ========================================================================================*/

.search_bar,
.search_bar-results {
  margin: 6rem 0 0 10rem;
  display: flex;
  justify-content: center;
}

.search_bar-results {
  margin: 5rem auto 1rem;
}

.search_bar-container {
  position: relative;
  width: 30rem;
  background: var(--color-primary-bg);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0.6rem 1rem;
  border-radius: 1rem;
  color: var(--color-white);
}

.search_bar-container > div {
  width: 100%;
  display: flex;
  align-items: center;
}

.search_bar input,
.search_bar-results input {
  background: transparent;
  margin-left: 0.7rem;
  padding: 0.5rem 0;
  width: 100%;
  border: none;
}

.search_bar input::placeholder {
  color: var(--color-white);
}

.search_results {
  text-align: center;
}

.search_results h1 {
  margin-top: 2rem;
}

/* ==========  CATEGORIES   ========================================================================================*/

.category__buttons h2 {
  margin-bottom: 2rem;
  text-align: center;
}

.category__buttons {
  padding: 3rem 0;
  border-radius: 20px;
  margin-bottom: 1rem;
  width: 70%;
  margin: auto;
}

.category__buttons-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  margin: 0 auto;
  width: 90%;
}

.add-edit {
  text-align: center;
}

.category__button {
  width: 100%;
  background: var(--color-primary);
  color: var(--color-white);
  display: inline-block;
  padding: 0.8rem 1rem;
  border-radius: 0.5rem;
  font-weight: 600;
  text-align: center;
}

.category__button:hover {
  color: white;
}

.btn {
  display: inline-block;
  width: fit-content;
  padding: 0.6rem 1.2rem;
  background-color: var(--color-primary);
  border-radius: 0.5rem;
  cursor: pointer;
  transition: all 300ms ease;
  color: var(--color-white);
  border: none;
}

.btn.sm {
  padding: 0.3rem 0.7rem;
  font-size: 0.8rem;
}

.btn.danger {
  background: #ff0000b8;
}

/* ==========  POSTS  ========================================================================================*/

.topic__post-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  margin: 0 auto;
}

.topic__post {
  width: 100%;
  background: #a794f37a;
  color: var(--color-white);
  padding: 1.5rem;
  border-radius: 0.5rem;
  font-weight: 600;
  text-align: justify;
}

.topic__post > div {
  display: flex;
  justify-content: space-between;
  color: var(--color-white);
}

/* ==========  FORM  ========================================================================================*/

.form_section {
  display: grid;
  place-items: center;
  height: 100vh;
}

.form_section-container {
  width: 40%;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form_section small {
  margin-top: 1rem;
  display: block;
}

.form_section small a {
  color: #6f6af8;
}

.form_control{
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
 
}

.form_control input{
  background : var(--color-primary);
}



input,
textarea,
select {
  padding: 0.8rem 1.4rem;
  background: var(--color-bg);
  border-radius: 0.5rem;
  color: var(--color-white);
  resize: none;
  border:none;
}



table {
  width: 100%;
  text-align: left;
  background-color: #1d0b8178;
  border-radius: 9px;
}

table th {
  background: #1e1e66;
  padding: 0.8rem;
  color: white;
}

table td {
  padding: 0.8rem;
  border-bottom: 1px solid rgba(242, 242, 254, 0.7);
  color: white;
}

/* ==========  FOOTER ========================================================================================*/

footer {
  text-align: center;
}
