* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#wrapper{
  width: 70%;
  margin:0 auto;
  font-family: "Montserrat", sans-serif;
  line-height: 1.6;
  
}

#mainpage{
  min-height: 100vh;
}

a{
  text-decoration: none;
}

h1, h2{
  margin : 1rem 0 1rem;
}

nav {
  padding : 1rem;
  display: flex;
  justify-content: space-between;
  
}

nav a{
  padding:0.7rem;
}

p{
  margin-top: 1rem;
}
  /* ========================================================= 
CATEGORY BUTTONS
============================================================
  */

.category__buttons{
  padding: 3rem 0;
  border-top: 2px solid  #1e1e66;
  border-bottom: 2px solid #1e1e66;
  margin-bottom : 1rem;
}

.category__buttons-container{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  margin: 0 auto;
}

.category__button{
  width:100%;
  background: #6d68f82e;
  color: #6f6af8;
  display: inline-block;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  font-weight: 600;
  text-align: center;
  
}

.category__button:hover{
  color: white;
}


.btn {
  display: inline-block;
  width: fit-content;
  padding: 0.6rem 1.2rem;
  background-color: #6f6af8;
  border-radius: 0.5rem;
  cursor:pointer;
  transition: all 300ms ease;
  color: white;

}

.btn.sm{
  padding:0.3rem 0.7rem;
  font-size: 0.8rem;
}

.btn.danger{
  background: #ff0000b8;
}

.topic__post-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  margin: 0 auto;
}

.topic__post{
    width:100%;
    background: #6d68f82e;
    color: #6f6af8;
    padding: 1.5rem;
    border-radius: 0.5rem;
    font-weight: 600;
    text-align: justify;
    
}

.topic__post > div{
  display: flex;
  justify-content: space-between;
  color : #6f6af8b9;
}


    /* 
========================================================= 
 FORM
============================================================
  */

.form__section{
  display: grid;
  place-items: center;
  height:100vh;
}

.form__section-container{
  width: 40%;
}

form{
  display: flex;
  flex-direction: column;
  gap:1rem;
}

.form__section small{
  margin-top: 1rem;
  display: block;
}

.form__section small a{
  color: #6f6af8;

}

input, textarea, select{
  padding: 0.8rem 1.4rem;
  background-color: #1e1e66;
  border-radius: 0.5rem;
  color : white;
  resize: none;
}


table{
  width: 100%;
  text-align: left;
  background-color: #1d0b81ba;
  border-radius: 9px;
}

table th{
  background: #1e1e66;
  padding: 0.8rem;
  color: white;
}

table td{
  padding:0.8rem;
  border-bottom: 1px solid rgba(242,242,254,0.7);
  color: white;
 
}
