* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

:root {
  /* --color-primary: #db2a6b; */
  --color-primary: #ab3bff;
  --color-primary-variant: #d69eff;
  --color-primary-bg: #000000cf;
  --color-bg: #22132f;
  --color-white: #f2f2fe;
  --color-red: #da0f3f;
  --color-red-light: #db0f3f26;
  --color-green: #00c476;
  --color-green-light: #00c27426;
  --color-gray-900: #1e1e66;
  --color-gray-700: #2d2b7c;
  --color-gray-300: rgba(242, 242, 254, 0.3);
  --color-gray-200: rgba(242, 242, 254, 0.7);

  --transition: all 300ms ease;
}

/* =========== HONEYPOT ======================================================================================== */

input[type="email"]{
  display:none; /* set display : none to only be visible by robot -> can't read style */
}

/* ==========  GENERAL   ========================================================================================*/

html {
  scroll-behavior: smooth;
}

body {
  background: var(--color-bg);
  color: var(--color-white);
}

#wrapper {
  width: 100%;
  margin: 0 auto;
  font-family: "Montserrat", sans-serif;
  line-height: 1.6;
}

#mainpage {
  min-height: 100vh;
}

h1 {
  margin: 6rem 0 2rem;
  text-align: center;
  font-size: 3rem;
}

/* ==========  ALERT MESSAGE   ========================================================================================*/

.message {
  border-radius: 0.5rem;
  margin: 0 auto;
  width: fit-content;
}

/* ==========  HOME PAGE   ========================================================================================*/

.top_container {
  display: flex;
  flex-direction: column;
  margin: 6rem auto;
  height: 50vh;
  width: 60%;
  text-align: center;
}

.top_container h1 {
  margin: 0 auto;
  font-size: 3rem;
  width: 80%;
}

.top_container h1 > strong {
  color: var(--color-primary);
}

.top_container h1 + p {
  margin: 0 auto;
  width: 70%;
}

.top_container .search_bar{
  margin-top: 6rem;
}




img {
  width: 100%;
}

/* ==========  NAV LINKS   ========================================================================================*/

nav {
  padding: 0.5rem 1.5rem 0.5rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--color-primary-bg);
  box-shadow: 0rem 2rem 200px 51px #ab3bff6b;
}

nav a {
  /* padding: 0.3rem; */
  margin: 0.5rem;
}

#nav-left a:first-child {
  display: none;
}

#nav-right {
  display: flex;
  position: relative;
}

#nav-right ul {
  position: absolute;
  top: 127%;
  right: 0;
  display: flex;
  flex-direction: column;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.4);
  visibility: hidden;
  opacity: 0;
  transition: var(--transition);
  list-style: none;
  background: var(--color-primary-bg);
}

#nav-right i {
  margin-left: 0.3rem;
}
#nav-right ul li a {
  display: block;
  width: 90%;
}

#nav-right:hover > ul {
  visibility: visible;
  opacity: 1;
}

#nav-right ul li:last-child a {
  transition: var(--transition);
}
#nav-right ul li:last-child a:hover {
  color: var(--color-primary);
}
#nav-right ul li:last-child a:hover::before {
  /* Prevent the underline effect on hover by keeping the scaleX at 0 */
  transform: scaleX(0);
}

a {
  position: relative;
  color: var(--color-white);
  text-decoration: none;
  padding: 0.3rem;
}

a::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--color-primary);
  transform: scaleX(0);
  transition: var(--transition);
}

/* Underline with animation */
a:hover::before {
  transform: scaleX(0.9);
}

.avatar,
.avatar-author {
  width: 2.6rem;
  height: 2.6rem;
  border-radius: 50%;
  overflow: hidden;
  margin-top: 0.3rem;
}

.avatar {
  border: 0.2rem solid var(--color-primary);
}

.avatar-author {
  border: 0.2rem solid var(--color-primary-bg);
}

/* ==========  SEARCH   ========================================================================================*/

.search_bar {
  margin-top: 4rem ;
  display: flex;
  justify-content: center;
}

.search_bar-container {
  position: relative;
  width: 30rem;
  background: var(--color-primary-bg);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0.6rem 1rem;
  border-radius: 1rem;
  color: var(--color-white);
  box-shadow: 0rem 1.5rem 115px 13px #ab3bff6b;
}

.search_bar-container > div {
  width: 100%;
  display: flex;
  align-items: center;
}

.search_bar input {
  background: transparent;
  margin-left: 0.7rem;
  padding: 0.5rem 0;
  width: 100%;
  border: none;
}

.search_bar input::placeholder {
  color: var(--color-white);
  font-family: "Montserrat", sans-serif;
  line-height: 1.6;
}

.search_results {
  text-align: center;
}

.search_results h1 {
  margin-top: 2rem;
}
.search_results h2 {
  margin: 2rem 0 2rem;
}

.search-user {
  margin: 2rem 0 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #180b25;
  border: 1px solid var(--color-primary);
  border-radius: 11px;
  padding: 10px 25px;
  min-width: 13%;
  margin: auto;
  width: fit-content;
}

.search_user-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  margin: 0 auto;
}


/* ==========  CATEGORIES   ========================================================================================*/

.explore,
#up {
  display: none;
}
.category__buttons h2 {
  margin-bottom: 2rem;
  text-align: center;
}

.category__buttons {
  padding: 1rem 0;
  border-radius: 20px;
  margin-bottom: 1rem;
  width: 70%;
  margin: auto;
}

.category__buttons-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  margin: 0 auto;
  width: 90%;
}

.add-edit {
  text-align: center;
}

.empty-page {
  text-align: center;
  background: var(--color-bg);
  width: 30%;
  padding: 1.5rem 1rem;
  font-size: x-large;
  margin: 3rem auto;
  border: 1px solid var(--color-primary);
  border-radius: 15px;
}

.category__button {
  width: 100%;
  background: var(--color-primary);
  color: var(--color-white);
  display: inline-block;
  padding: 0.8rem 1rem;
  border-radius: 0.5rem;
  font-weight: 600;
  text-align: center;
  border: 1px solid transparent;
  transition: var(--transition);
}

.btn,
.btn-search {
  display: inline-block;
  width: fit-content;
  padding: 0.6rem 1.2rem;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: all 300ms ease;
  color: var(--color-white);
}

.btn {
  background-color: var(--color-primary);
  border: 1px solid transparent;
}

.btn-search {
  background-color: var(--color-bg);
  border: 1px solid var(--color-primary);
}

.btn:hover,
.category__button:hover {
  background-color: var(--color-bg);
  border: 1px solid var(--color-primary);
}

.category__button:hover::before,
.btn-search:hover::before,
.btn:hover::before,
footer .socials a::before {
  transform: scaleX(0);
}

.btn-search:hover{
  background-color: var(--color-primary);
  border: 1px solid transparent;
}

.small {
  padding: 0.3rem 0.7rem;
  font-size: 0.8rem;
}
/*
.btn.danger {
  background: #ff0000b8;
} */

/* ==========  POSTS  ========================================================================================*/

.topic__post-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  margin: 2rem auto;
}

.topic__post {
  width: 100%;
  background: var(--color-bg);
  color: var(--color-white);
  padding: 0.8rem;
  border-radius: 0.5rem;
  font-weight: 600;
  text-align: justify;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid var(--color-primary);
}

.topic__post > p {
  margin: 1rem 0 1rem;
}

.topic__post a {
  color: var(--color-primary-variant);
}

.post_author {
  display: flex;
  /* justify-content: space-between; */
  color: var(--color-white);
  gap: 0.5rem;
  margin-top: 0.5rem;
}

.post_author-info {
  display: flex;
  flex-direction: column;
  justify-content: end;
  color: #f2f2fec4;
  font-size: 0.9rem;
}

/* ==========  FORM  ========================================================================================*/

.form_section {
  display: grid;
  place-items: center;
  height: 100vh;
}

.form_section-container {
  width: 40%;
  height: 100%;
  margin-top: 6rem;
}

.form_section-container input {
  border: 1px solid var(--color-primary);
  width: 40%;
}

input[type="file"]::file-selector-button {
  background: var(--color-primary);
  border: none;
  padding: 7px 10px;
  color: var(--color-white);
  border-radius: 0.5rem;
  margin-right: 1rem;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.form_section small {
  margin-top: 1rem;
  display: block;
}

.form_section small a {
  color: var(--color-primary);
}

.form_control {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  align-items: center;
  width: 100%;
}

input,
textarea,
select {
  padding: 0.8rem 1.4rem;
  background: var(--color-bg);
  border-radius: 0.5rem;
  color: var(--color-white);
  resize: none;
  border: none;
}




/* ============================ DASHBOARD =============================================================
  */

.dashboard {
  margin-top: 6rem;
}

.dashboard_container {
  display: grid;
  grid-template-columns: 14rem auto;
  gap: 1rem;
  background: var(--color-bg);
  padding: 2rem;
  margin-bottom: 5rem;
  width: 60%;
  margin: auto;
  border: 1px solid var(--color-primary);
  border-radius: 15px;
  box-shadow: 0rem 3rem 9rem 4px #ab3bff63;
}

.dashboard aside a {
  background: black;
  display: flex;
  gap: 1rem;
  align-items: center;
  padding: 1.6rem;
  border: 1px solid var(--color-primary);
  transition: var(--transition);
}

.user-ban {
  min-width: 6.5rem;
  text-align: center;
}

.dashboard aside a.active {
  background: var(--color-primary);
}
.dashboard aside a.active i{
  color: var(--color-white);
}
.dashboard aside i {
  color: var(--color-primary-variant);
}

.dashboard aside ul a {
  border-radius: 15px;
  margin: 0.5rem 0;
}

.dashboard aside a:hover {
  background: var(--color-primary);
  border: 1px solid transparent;
}

.dashboard aside a:hover i {
  color: var(--color-white);
}
/* avoids underline effect */
.dashboard aside a:hover::before {
  transform: scaleX(0);
}

.dashboard section {
  margin-left: 1.5rem;
}

.dashboard section h2 {
  /* margin: 0 0 2rem 0; */
  line-height: 1;
}

.dashboard section table {
  width: 100%;
  text-align: left;
  margin-top: 1rem;
}

.dashboard section table th {
  background: black;
  padding: 0.8rem;
  color: var(--color-white);
  /* border: 1px solid var(--color-primary); */
}

.dashboard section table td {
  padding: 0.8rem;
  border-bottom: 1px solid #ad3fff78;
}

.dashboard section table tr:hover td {
  background: var(--color-bg);
  color: var(--color-white);
  cursor: default;
  transition: var(--transition);
}

.dashboard h2 {
  text-align: center;
  margin-top: 0;
}

.manage-categories h2 {
  margin-bottom: 0;
}
.manage-categories {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  justify-content: center;
  gap: 5rem;
}

/* ==========  PROFILE ========================================================================================*/

.profile {
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-direction: column;
  width: 45%;
  border-right: 1px solid #ab3bff82;
  padding-right: 3rem;
}

.profile-infos {
  display: flex;
  justify-content: space-around;
  margin-top: 3rem;
}

.profile-count {
  margin: 1.5rem 4rem 0 0;
}

.general-profile h2 {
  border-bottom: 1px solid var(--color-primary);
  width: 90%;
  margin: auto;
  padding-bottom: 1rem;
}

.profile-count h3 {
  margin-bottom: 2rem;
}

.profile-count > p {
  color: var(--color-primary-variant);
}

.avatar-profile {
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  overflow: hidden;
  margin-top: 0.3rem;
  border: 0.2rem solid var(--color-primary);
  box-shadow: 0rem 0rem 7rem 11px #ab3bff63;
}

/* =========================  FOOTER =========================================================================*/

footer {
  text-align: center;
}

footer .socials{
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin: 2rem 0 3rem;
}

footer .socials a {
  font-size: 1.5rem;
  border: 1px solid var(--color-primary);
  color: var(--color-white);
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  background-color: var(--color-bg);
  transition: var(--transition);
}

footer .socials a:hover{
  transform:scale(0.95);
}



/* ========================== MEDIA QUERIES (SMALL DEVICES) ===================================================*/

@media screen and (max-width: 600px) {
  /* ====================== HOME PAGE ========================================*/

  #mainpage {
    width: 100%;
  }

  nav {
    justify-content: space-between;
    padding: 0.2rem 0.5rem;
  }

  #nav-right a:first-child,
  #nav-left a:nth-child(2),
  #nav-left a:nth-child(3) {
    display: none;
  }

  #nav-left a:first-child {
    display: flex;
  }

  .avatar {
    width: 2rem;
    height: 2rem;
    border: 2px solid var(--color-primary);
  }

  .top_container {
    margin-top: 1rem;
    height: 78vh;
    width: 100%;
  }

  .top_container h1 {
    margin: 0rem auto;
    font-size: 1.9rem;
  }


  .top_container h1 + p {
    margin: 2rem auto;
    width: 93%;
    font-size: 0.8rem;
  }

  .search_bar {
    margin: 0;
  }

  .search_bar-container {
    width: 27rem;
    height: 3rem;
    padding: 0.2rem 0.8rem;
    border-radius: 1rem;
  }

  .search_bar input {
    font-size: 0.9rem;
  }

  .search_bar-container .btn-search {
    font-size: 1rem;
    padding: 0.5rem 0.8rem;
    border-radius: 0.8rem;
    background-color: var(--color-primary);
  }

  .explore {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: auto;
    align-items: center;
  }

  .down,
  #up {
    width: fit-content;
    padding: 0.2rem 1.5rem;
    border-radius: 0.9rem;
    cursor: pointer;
    color: var(--color-white);
    background-color: var(--color-bg);
    border: 1px solid var(--color-primary);
  }

  .down {
    display: flex;
    flex-direction: column;
  }

  #up {
    margin: 3rem auto;
    display: flex;
  }
  .category__buttons {
    width: 100%;
    min-height: 100vh;
  }

  .category__buttons h2 {
    margin: 0 auto 2rem;
  }

  .category__buttons-container {
    grid-template-columns: 1fr;
    gap: 0.7rem;
    width: 85%;
  }

  footer {
    font-size: 0.7rem;
    margin-top: 2rem;
    color: rgba(255, 255, 255, 0.637);
  }

  /* =======================  DETAIL CATEGORY PAGE  ===================================================*/

  #detail-category h1,
  #detail-topic h1 {
    margin-top: 2rem;
    font-size: 2.2rem;
  }

  #detail-category .add-edit {
    margin-bottom: 1.5rem;
  }

  #detail-category .add-edit a {
    border: 1px solid var(--color-primary);
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
  }

  /* =======================  DETAIL TOPIC PAGE  ===================================================*/
  #detail-topic h1 i {
    font-size: 1.8rem;
    padding-bottom: 0.2rem;
  }

  .topic__post-container {
    grid-template-columns: 1fr;
    width: 90%;
    margin: 0 auto;
  }

  .empty-page {
    width: 90%;
    font-size: 1rem;
  }

  #detail-topic .btn {
    padding: 0.5rem 1rem;
  }

  #detail-topic .add-edit a:first-child {
    background-color: var(--color-bg);
    border: 1px solid var(--color-primary);
  }

  /* =======================  SEARCH RESULTS PAGE  ===================================================*/

  .search_results h1 {
    font-size: 2.1rem;
  }

  .search_results h2 {
    margin: 2rem auto;
  }

  .search_results .search_bar-container {
    width: 95%;
    margin: 0 auto;
  }
  .search-user {
    min-width: 60%;
  }

  .category__buttons {
    min-height: 100vh;
  }

/* ==========  FORM  ========================================================================================*/
 
  form{
    gap: 3rem;
  }

  .form_section-container h2{
    text-align: center;
    margin-top: 0;
    margin-bottom: 2rem;
  }

  .form_section-container{
    width:100%;
    margin-top:3rem;
  }

  .form_section-container input{
    width:80%;
  }

  .form_section-container textarea {
    border: 1px solid var(--color-primary);
    width:80%;
    font-family: "Montserrat", sans-serif;
    line-height: 1.6;

  }

/* ========== DASHBOARD ========================================================================================*/
  
.dashboard{
  width:100%;
  margin:0;
  margin-top:2rem;
}

.dashboard h2{
  text-align: start ;
  margin-top: 0.5rem;
}

.dashboard_container{
  width: 90%;
  min-height: 85vh;
  grid-template-columns: 1fr;
  gap:0;
  padding:1rem 0;
  background: transparent;
}


.dashboard section table thead{
  display: none;
}

.manage-categories{
  justify-content: flex-start;
}

.general-profile h2{
  display: none;
}

.dashboard aside{
  position: fixed;
  /* box-shadow: 2rem 0 4rem rgba(0,0,0,0.4); */
  left:-100%;
  height:100vh;
  transition: var(--transition);
  z-index: 1;
}

.dashboard .sidebar__toggle {
  display: inline-block;
  background: var(--color-bg);
  color: var(--color-white);
  position: fixed;
  right:0;
  bottom:4rem;
  z-index: 1;
  width: 2.5rem;
  height:2.5rem;
  border-radius: 50% 0 0 50%;
  font-size: 1.3rem;
  cursor:pointer;
  border: 1px solid var(--color-primary);
  border-right: none;
  /* box-shadow: -1rem 0 2rem rgba(0,0,0,0.4); */

}

#hide__sidebar-btn{
  display: none;
}

.dashboard aside a h5{
  display: inline-block;
}

.profile-infos {
  
  flex-direction: column;
  /* justify-content: space-around; */
  align-items: center;
  margin-top: 1rem;
}

.profile {
  border-right: none;
  padding-right: 0;
}

.dashboard section{
  margin-left:0;
}

.profile-count {
  margin: 1.5rem auto;
}


}



/* =======================   MEDIA QUERIES (MEDIUM DEVICES) ===================================================*/

@media only screen and (min-width: 601px) and (max-width: 1025px) {
  /* ============================ HOME PAGE =============================== */



  .top_container {
    margin: 6rem auto;
  }

  .top_container h1 {
    margin: 0 auto;
    font-size: 3.5rem;
    width: 90%;
  }

  .top_container h1 + p {
    margin: 3rem auto;
    width: 90%;
  }

  .search_bar {
    margin: 8rem auto;
  }

  .search_bar input {
    padding: 0.8rem 1rem;
    font-size: 1.2rem;
  }

  .search_bar-container {
    font-size: 1.4rem;
  }

  .btn-search {
    font-size: 1.1rem;
    border-radius: 0.8rem;
  }

  .category__buttons {
    width: 80%;
  }

  /* =======================  DETAIL CATEGORY PAGE  ===================================================*/


  #detail-category .add-edit {
    margin-bottom: 1.5rem;
  }

  #detail-category .add-edit a {
    border: 1px solid var(--color-primary);
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
  }

  /* =======================  DETAIL TOPIC PAGE  ===================================================*/
  
  /* #detail-topic h1 i {
    font-size: 1.8rem;
    padding-bottom: 0.2rem;
  } */

  .topic__post-container {
    grid-template-columns: 1fr;
    width: 90%;
    margin: 0 auto;
  }

  .empty-page {
    width: 90%;
    font-size: 1rem;
  }

  #detail-topic .btn {
    padding: 0.5rem 1rem;
  }

  #detail-topic .add-edit a:first-child {
    background-color: var(--color-bg);
    border: 1px solid var(--color-primary);
  } 

  /* ==========  FORM  ========================================================================================*/
 
  form{
    gap: 3rem;
  }

  .form_section-container h2{
    text-align: center;
    margin-top: 0;
    margin-bottom: 2rem;
  }

  .form_section-container{
    width:100%;
  
  }

  .form_section-container input{
    width:60%;
  }

  .form_section-container textarea {
    border: 1px solid var(--color-primary);
    width:60%;
    font-family: "Montserrat", sans-serif;
    line-height: 1.6;

  }


/* ========== DASHBOARD ========================================================================================*/

  .dashboard{
    width:100%;
  }

  .dashboard h2{
    text-align: start ;
    margin-top: 0.5rem;
  }

  .dashboard_container{
    width: 90%;
    grid-template-columns: 4.3rem auto;
    padding:1rem;
    background: transparent;
  }

  .dashboard aside h5{
    display: none;
  }

  .dashboard section table thead{
    display: none;
  }

  .manage-categories{
    justify-content: flex-start;
  }

  .general-profile h2{
    display: none;
  }


}

/*
- OK honeypot
- OK meta description
- OK title head
- OK robots.txt
- .htaccess
- OK backlink ? -> liens réseaux
- maillage interne : liens internes en dehors de la nav
- checkbox RGPD
- OK favicon 
- OK search bar 
- manifest
- images en WEBP ?
- changer page accueil user
---------------
- ré-organisation CSS : medium avant small, revoir avant queries
- changer topic, ajouter 'web design' : SEO : mots clés
- titre néon 
- utilisateur : ajouter date création pour topics et posts
---------------
- régler problème updatePost
- régler problème count



*/
